*.iml
.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
.DS_Store
.externalNativeBuild
.cxx
local.properties
**/build.linux
**/build.ios
**/cmake-build-debug
**/cmake-build-release
.fastRequest
clang-format-result.log
clang-tidy-result.log
